<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>{{ title }}</title>

		<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="/assets/css/styles.css?r=2" rel="stylesheet">
		<link href="/assets/css/font-awesome.min.css" rel="stylesheet">
		<script src="/assets/js/jquery-3.2.1.min.js"></script>
	</head>

	<body>

		<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
			<a class="navbar-brand" href="/">Local wallet</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Explorer
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/explorer">Block list</a>
							<a class="dropdown-item" href="/explorer/databases">Databases</a>
							<a class="dropdown-item" href="/explorer/tokens">Tokens</a>
							<a class="dropdown-item" href="/explorer/peers">Peers</a>
							<a class="dropdown-item" href="/explorer/mempool">Mempool</a>

							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/explorer/rounds">Rounds</a>
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Wallet
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown2">
							<a class="dropdown-item" href="/wallet">Accounts</a>
							<a class="dropdown-item" href="/wallet/send">Send coins</a>
							<a class="dropdown-item" href="/data/token/send">Send tokens</a>
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Data
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown3">
							<a class="dropdown-item" href="/data/domains">Domains</a>
							<a class="dropdown-item" href="/data/domain/create">Create new domain</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/data/tokens">Token list</a>
							<a class="dropdown-item" href="/data/token/balance">Tokens balance</a>
						</div>
					</li>


				</ul>
				<form action='/explorer' method='GET' class="form-inline mt-2 mt-md-0">
					<input name='q' class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</nav>

		<div class="container content-container"> {% block body %}{% endblock %}


			</div>

			<div class="black footer">

				<div class="container text-center">

					<div>
						Block Explorer for Orwell, platform for building decentralized applications.
					</div>
					<br/>

					©
																				Powered by Nano
					<a target="_blank" rel='nofollow' href='https://github.com/gettocat/friday'>Source code</a>

				</div>

			</div>


			<script src="/assets/js/popper.js"></script>
			<script src="/assets/js/bootstrap.min.js"></script>
		</body>
	</html>
